.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}
}

.wp-caption-text {
    display: block;
    font-size: 90%;
    font-style: italic;
	text-align: center;
    position: relative;
    margin: .5em 0 0 2em;
    padding: .5em 1em;
    background-color: $color__background-caption;
    border-right: 1px solid $color__border-caption;
    border-bottom: 1px solid $color__border-caption;
    
    em {
        font-style: normal; /* Inverse emphasis because of all italics */
    }
    
    &:before {
        display: block;
        position: absolute;
        content: "\f112";
        font-family: FontAwesome;
        transform: rotate(180deg) scaleX(1.3);
        color: $color__border-caption;
        top: -6px;
        left: -1.3em;
    }
}
