img.align {
    &center {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    &left,
    &right {
        margin-bottom: 1.5em;
    }
}

.centered-image,
.featured-image {
    max-width: calc(100% + 2.8em);
    margin: 2em -1.4em;
    
    @media screen and (min-width: 30em) {
        max-width: calc(100% + 3.6em);
        margin: 2em -1.8em;
    }
}
@media screen and (min-width: 50em) {
    img.align,
    .wp-caption.align {
        &left {
            margin-left: -1.5em;
        }
        
        &right {
            margin-right: -1.5em;
        }
    }
}
@media screen and (min-width: 74em) {
    img.align,
    .wp-caption.align {
        &left {
            margin-left: -3em;
        }
        
        &right {
            margin-right: -3em;
        }
    }
}

.featured-image {
    margin-top: -1.4em;
    margin-bottom: -1.4em;
    
    img {
        display: block;
        margin: 0 auto;
    }
    
    a:hover img,
    a:focus img {
        outline: 3px dashed $color__link;
    }
    
    @media screen and (min-width: 30em) {
        margin-top: -1.8em;
    }
    
    @media screen and (min-width: 37.5em) {
        margin-top: 3em;
    }
}
