


@media screen and (min-width: 57em) {
    .site-content {
        margin: 0 auto;
        max-width: $size__site-max-width + ( 1.35rem * 2);
        position: relative;
        padding: 0 1.2em;
    }
    
    .content-area {
        float: left;
        width: 100%;
    }

    .site-main {
        padding-right: $size__site-sidebar;
        clear: both;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        overflow: auto;
    }
    
    .widget-area {
        position: relative;
        width: $size__site-sidebar;
        margin-left: -$size__site-sidebar;
        float: right;
        overflow: hidden;
        padding-right: 0 !important;
    }

    .site-footer {
        clear: both;
    }
}